<!-- Контакты -->
<footer class="site-footer wow fadeIn">

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h4 class="footer__title title-3">Меню</h4>
        <ul class="footer-menu">
          <li><a href="/" class="footer-menu__link site-link">Главная</a></li>
          <li><a href="/about" class="footer-menu__link site-link">Обо мне</a></li>
          <li><a href="/about/portfolio" class="footer-menu__link site-link">Портфолио</a></li>
          <li><a href="/about/contact" class="footer-menu__link site-link">Контакты</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h4 class="footer__title title-3">Новости</h4>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h4 class="footer__title title-3">Соц. сети</h4>
          <div class="footer-social">
            <a class="site-link footer-social__link" href="mailto:valverin95@gmail.com"><i class="fab fa-google" target="_blank"></i></a>
            <a class="site-link footer-social__link" href="https://api.whatsapp.com/send?phone=79500247418" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a class="site-link footer-social__link" href="https://vk.com/id128989093" target="_blank"><i class="fab fa-vk"></i></a>
          </div>
      </div>
      <div class="col"><p class="footer-special"></p></div>
      
    </div>
  </div>
</footer>