

<header>
  <div class="sidebar">
    <img src="https://lmpixels.com/demo/sunshine-demo/sunshine-version-2/sunshine-html-template/images/my_photo.png" alt="" class="sidebar__avatar img-responsive">
    <h2 class="sidebar__name title-2">Александр Марченко</h3>
    <p class="sidebar__txt p-footer">Веб Разработчик</p>
    <nav class="sidebar-menu">
      <ul>
        <li><a href="#sub-mainscreen" class="sidebar-menu__link site-link--active">Главная</a></li>
        <li><a href="#sub-aboutme" class="sidebar-menu__link">Обо мне</a></li>
        <li><a href="#sub-resume" class="sidebar-menu__link">Резюме</a></li>
        <li><a href="#sub-portfolio" class="sidebar-menu__link">Портфолио</a></li>
      </ul>
    </nav>
    <div class="sidebar-social">
      <a class="site-link" href="mailto:valverin95@gmail.com"><i class="fab fa-google" target="_blank"></i></a>
      <a class="site-link" href="https://api.whatsapp.com/send?phone=79500247418" target="_blank"><i class="fab fa-whatsapp"></i></a>
      <a class="site-link" href="https://vk.com/id128989093" target="_blank"><i class="fab fa-vk"></i></a>
    </div>
  </div>
</header>

<!-- mobile -->

<div class="mobile-header fixed-top">
  <a class="hamburger hamburger--spring my-menu-button">
    <span class="hamburger-box"><span class="hamburger-inner"></span></span>
  </a>
</div>