@import "vars"
@import "libs"
@font-face
  font-family: 'Pe-icon-7-stroke'
  src: url("fonts/Pe-icon-7-stroke.woff")
::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: 'PT Sans', sans-serif
  overflow-x: hidden
  color: $text
  background-color: #e7e7e7
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

h1, h2, h3, h4, h5
  font-family: 'Oswald', sans-serif
  font-weight: 400
p
  font-size: 0.875em
  margin: 0 0 10px
  font-weight: 300
  color: #666
  
.title-1
  font-size: 70px
.title-2
  font-size: 30px
.title-3
  font-size: 1.17em
.title-4
  font-size: 1.17em
  border-bottom: 2px solid $accent
  display: inline-block
  padding-bottom: 2px
  margin-bottom: $gutter
.title-5
  font-size: 20px


.p-footer
  padding: 0
  margin: 0
  color: $gray
  font-size: 18px
  font-family: 'Oswald', sans-serif
  font-weight: 300
.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.text-center
  text-align: center

b, strong
  font-weight: bold



//кастомный код
// subpage

.subpage
  padding: 60px
  background-color: #fff
  position: relative
  transition: all 0.8s ease-in-out
  +media-breakpoint-down(xs)
    padding: 15px
  

.subpage-heading
  display: flex
  align-items: center
  font-family: 'Oswald', sans-serif
  margin-bottom: 2*$gutter
  &__title
    padding: 7px 20px 7px 78px
    background-color: $accent
    color: #fff
    font-size: 22px
    position: relative
    margin-left: -70px
    margin-right: $gutter
    display: inline-block
    &:before
      display: block
      width: 10px
      height: 0px
      position: absolute
      bottom: -10px
      left: 0px
      content: ""
      border-bottom: 10px solid transparent
      border-right: 10px solid #ebbd34

  &__descr
    color: #9c9c9c
    font-size: 14px

// переход по страницам

#sub-aboutme:target, #sub-resume:target, #sub-portfolio:target,
  transform: translate3d(0, 0, 0) scaleY(1)
  z-index: 9
  min-height: 100vh
  height: auto
  .mainscreen
    position: absolute
    transform: translate3d(0, -100%, 0) scaleY(0)
    top: 0
    min-height: 100%
    height: auto
    overflow: visible
    width: 100%

.aboutme, .resume, .portfolio
  position: absolute
  transform: translate3d(0, -100%, 0) scaleY(0)
  top: 0
  min-height: 100%
  height: auto
  overflow: visible
  
  width: 100%
  


//мобильный хедер
.mobile-header
  height: 46px
  width: 100%
  background-color: #fff
  display: flex
  justify-content: flex-end
  align-items: center
  position: relative
  +media-breakpoint-up(lg)
    display: none
  +media-breakpoint-down(md)
    z-index: 12
    position: fixed
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4)
.sidebar
  text-align: center
  width: 22%
  margin-right: $gutter /2
  background-color: #fff
  padding: 40px 0
  position: fixed
  height: 100%
  overflow: auto
  z-index: 10
  transition: 0.7s ease all
  +media-breakpoint-down(md)
    width: 100%
    max-width: 320px
    left: -100%
    padding-top: 56px
    padding-bottom: 40px
.sidebar.is-active
  left: 0
  box-shadow: 3px 0 4px rgba(0, 0, 0, 0.4)

// гамбургер
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
  width: 34px
  height: 3px

.sidebar__avatar
  max-width: 110px
  margin: auto
  margin-bottom: 30px
.sidebar__name
  color: $h-color
  margin: 0
  line-height: 0
  line-height: 40px
.sidebar-menu
  margin-top: 2*$gutter
  ul 
    margin: 0
    padding: 0
  li
    list-style: none
.sidebar-menu__link
  font-family: 'Oswald', sans-serif
  color: $h-color
  padding: 10px 20px
  display: block
  border-top: 1px solid #f5f5f5
  border-bottom: 1px solid #f5f5f5
  transition: $anim
  border-right: 3px solid #fff
  font-weight: 400
  font-size: 16px
.sidebar-menu__link:hover
  background-color: #fcfcfc
  color: $h-color
  text-decoration: none
  border-right: 3px solid #f5f5f5
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.02)
.sidebar-menu__link.site-link--active
  border-right: 4px solid $accent
  background-color: #fcfcfc
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.02)
.sidebar-social
  margin-top: 2*$gutter
  .fab
    display: inline-block
    margin: 0 2px
    width: 28px
    height: 28px
    line-height: 28px
    color: #888
    background-color: #eee
    text-align: center
    transition: $anim
    &:hover
      color: #fff
      background-color: $accent

// main content
.main-content
  width: 77%
  min-height: 100%
  height: auto
  position: relative
  +media-breakpoint-down(md)
    width: 100%
    margin-top: 46px
.page-content
  display: flex
  justify-content: flex-end



// mainscreen

.mainscreen
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  height: auto
  width: 100%
  position: absolute
  top: 0
.bg-home
  background-image: url(https://lmpixels.com/demo/sunshine-demo/sunshine-version-2/sunshine-html-template/images/home_page_bg_2.jpg)
  background-size: cover
  background-position: center center
  position: absolute
  top: 0
  height: 100%
  left: 0
  width: 100%
  filter: grayscale(40%) brightness(50%) blur(1px)
.mainscreen-heading
  position: relative
  color: #fff
  p 
    margin-bottom: 10px
    color: #fff

.mainscreen-heading__title
  margin-bottom: 3*$gutter
  font-weight: 500
.mainscreen-heading__special
  font-family: 'Oswald', sans-serif
  font-size: 16px
  border-bottom: 3px solid $accent
  font-weight: 400
  margin-right: 40px
  letter-spacing: 0.5px
  
// about me
.aboutme-heading
  margin-bottom: 2*$gutter
.aboutme-services
  margin-bottom: 2*$gutter
.aboutme-services-item
  text-align: center
  img
    max-height: 74px
    margin-bottom: $gutter

.aboutme-facts-item
  text-align: center
  padding: 20px 10px 15px
  margin-right: -10px
  .pe-7s-icon
    font-size: 56px
    color: #888
.aboutme-facts-wrap
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1)
  padding: 10px 0
.aboutme-facts-wrap--gray
  background-color: #fafafa
.aboutme-facts-item__number
  font-size: 24px
  color: $accent
  font-weight: 600
@import "media"
