<section class="page-about">
  <div class="container">
    <div class="page-content">
      <div class="page-about-heading">
      <h2 class="title-1 page-content__title">Привет, я веб разработчик</h2>
    </div>
    <p>Меня зовут Александр и я тот, кто умеет делать сайты с нуля. Я прекрасно владею <b>HTML</b> и <b>CSS</b>, умею писать свои скрипты на <b>JS</b>, активно использую <b>GitHub</b>. Я позиционирую элементы сайта с помощью <b>FlexBox</b> и <b>Css-Grid</b>, а также мне нравится <b>Bootstrap</b>. Я люблю изучать все новое и использовать в своих проектах.</p>
    <a href="/about/portfolio/" class="main-btn main-btn--white">мое портфолио</a>
    </div>
  </div>
    
</section>