
<div class="bg-home"></div>
<div class="main-content-heading">
  <h1 class="main-content-heading__title title-1">Вебмастер</h1>
  <p> <span class="main-content-heading__special">Возраст </span> <span class="main-content-heading__txt">24</span></p>
  <p> <span class="main-content-heading__special">Город </span> <span class="main-content-heading__txt">Санкт-Петербург</span></p>
  <p> <span class="main-content-heading__special">E-mail </span> <span class="main-content-heading__txt">valverin95@gmail.com</span></p>
  <p> <span class="main-content-heading__special">Тел </span> <span class="main-content-heading__txt">+7 950 024 74-18</span></p>
</div>
