
<div class="main-content">
  <!-- портфолио -->
  <section id="sub-mainscreen" class="subpage mainscreen">
    <div class="bg-home"></div>
    <div class="mainscreen-heading">
      <h1 class="mainscreen-heading__title title-1">Вебмастер</h1>
      <p> <span class="mainscreen-heading__special">Возраст </span> <span class="mainscreen-heading__txt">24</span></p>
      <p> <span class="mainscreen-heading__special">Город </span> <span class="mainscreen-heading__txt">Санкт-Петербург</span></p>
      <p> <span class="mainscreen-heading__special">E-mail </span> <span class="mainscreen-heading__txt">valverin95@gmail.com</span></p>
      <p> <span class="mainscreen-heading__special">Тел </span> <span class="mainscreen-heading__txt">+7 950 024 74-18</span></p>
    </div>
  </section>
  <!-- обо мне -->
  <section id="sub-aboutme" class="subpage aboutme">
    <div class="subpage-heading">
      <p class="subpage-heading__title">Обо Мне</p>
      <p class="subpage-heading__descr">Веб разработчик, копирайтер, SEO</p>
    </div>
    <div class="row aboutme-heading">
      <div class="col-md-6 col-sm-12">
        <h3 class="aboutme-heading__title title-3">Немного слов о себе</h3>
        <p class="aboutme-heading__txt">Меня зовут Александр и я тот, кто умеет делать сайты с нуля. Я владею HTML и CSS, умею писать скрипты на JS, активно использую GitHub. Для стандартизации кода я использую Bootstrap и методологию BEM.</p>
        <p class="aboutme-heading__txt">Я люблю изучать все новое и использовать в своих проектах. Мой внутренний перфекционист вынуждает меня доводить свою работу до совершентства.</p>
      </div>
    </div>
    <div class="aboutme-services">
      <h4 class="aboutme-services__title title-4">Услуги</h4>
      <div class="row">
        <div class="col-lg-3 col-sm-6 aboutme-services-item">
          <img src="https://lmpixels.com/demo/sunshine-demo/sunshine-version-2/sunshine-html-template/images/service/management.png" alt="Responsive Design">
          <h4>Верстка</h4>
          <p>Адаптивная верстка проекта от дизайна до готового веб-сайта.</p>
        </div>
        <div class="col-lg-3 col-sm-6 aboutme-services-item">
          <img src="https://lmpixels.com/demo/sunshine-demo/sunshine-version-2/sunshine-html-template/images/service/web_design.png" alt="Responsive Design">
          <h4>Веб дизайн</h4>
          <p>Создание современного и привлекательного дизайна сайта.</p>
        </div>
        <div class="col-lg-3 col-sm-6 aboutme-services-item">
          <img src="https://lmpixels.com/demo/sunshine-demo/sunshine-version-2/sunshine-html-template/images/service/copywrite.png" alt="Responsive Design">
          <h4>Копирайтинг</h4>
          <p>Создание грамотного и оптимизированного текста для продвижения</p>
        </div>
        <div class="col-lg-3 col-sm-6 aboutme-services-item">
          <img src="https://lmpixels.com/demo/sunshine-demo/sunshine-version-2/sunshine-html-template/images/service/ecommerce.png" alt="Responsive Design">
          <h4>Контент</h4>
          <p>Разработка контент-плана, контроль за исполнением и наполнением.</p>
        </div>

      </div>
    </div>
    <div class="aboutme-facts">
      <h4 class="aboutme-facts__title title-4">Пару Фактов</h4>
      <div class="row">
        <div class="col-lg-3 col-sm-6 aboutme-facts-item">
          <div class="aboutme-facts-wrap">
            <i class="pe-7s-icon pe-7s-smile"></i>
            <h4>Дней Практики</h4>
            <p class="aboutme-facts-item__number">1.239</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aboutme-facts-item">
          <div class="aboutme-facts-wrap aboutme-facts-wrap--gray">
            <i class="pe-7s-icon pe-7s-alarm"></i>
            <h4>Понедельников</h4>
            <p class="aboutme-facts-item__number">177</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aboutme-facts-item">
          <div class="aboutme-facts-wrap">
            <i class="pe-7s-icon pe-7s-medal"></i>
            <h4>Сайтов с Нуля</h4>
            <p class="aboutme-facts-item__number">27</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 aboutme-facts-item">
          <div class="aboutme-facts-wrap aboutme-facts-wrap--gray">
            <i class="pe-7s-icon pe-7s-coffee"></i>
            <h4>Чашек Кофе</h4>
            <p class="aboutme-facts-item__number">4.472</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- резюме -->
  <section id="sub-resume" class="subpage resume">
    <div class="subpage-heading">
      <p class="subpage-heading__title">Резюме</p>
      <p class="subpage-heading__descr">Образование, опыт</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 resume-education resume-column">
        <h3 class="title-4">Образование</h3>
        <div class="resume-item">
          <p class="resume-date">2013</p>
          <h3 class="title-3 resume-title">Высшее образование</h3>
          <p class="resume__descr">Технический университет</p>
          <p>Обучение в Санкт-Петербургском техническом университете на инженерной специальности.</p>
        </div>
        <div class="resume-item">
          <p class="resume-date">2014</p>
          <h3 class="title-3 resume-title">Обучение копирайтингу</h3>
          <p class="resume__descr">Фриланс биржи</p>
          <p>Работа по созданию seo-оптимизированных статей для сайтов различной тематики.</p>
        </div>
        <div class="resume-item">
          <p class="resume-date">2015</p>
          <h3 class="title-3 resume-title">Изучение основ верстки</h3>
          <p class="resume__descr">Самостоятельное обучение</p>
          <p>Начало самостоятельного изучения специфики разработки веб-сайтов и создание первого проекта.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 resume-experience resume-column">
        <h3 class="title-4">Опыт и практика</h3>
        <div class="resume-item">
          <p class="resume-date">с 2014</p>
          <h3 class="title-3 resume-title">Копирайтинг</h3>
          <p class="resume__descr">Получен бесценный опыт</p>
          <p>Написано более 1023 статей на темы от строительства, до туризма и новостной сводки.</p>
        </div>
        <div class="resume-item">
          <p class="resume-date">с 2015</p>
          <h3 class="title-3 resume-title">Верстка</h3>
          <p class="resume__descr">Реализовано более 24 проектов</p>
          <p>С каждым днем опыт перерастает в профессионализм, а мои работы использует новейшие технологии.</p>
        </div>
        <div class="resume-item">
          <p class="resume-date">с 2018</p>
          <h3 class="title-3 resume-title">Администратор Сайта</h3>
          <p class="resume__descr">Белое продвижение сайта</p>
          <p>За время работы было наполнено более 983 новых страниц сайта, увеличена посещаемость в 2 раза.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 resume-skills resume-column">
        <h3 class="title-4">Навыки Верстки</h3>
        <div class="resume-skills-info">
          <h4 class="title-5">HTML</h4>                               
          <div class="resume-skill-container">
            <div class="resume-skill-percentage skill-1"></div>
          </div>

          <h4 class="title-5">CSS</h4>
          <div class="resume-skill-container">
            <div class="resume-skill-percentage skill-2"></div>
          </div>

          <h4 class="title-5">JS</h4>
          <div class="resume-skill-container">
            <div class="resume-skill-percentage skill-3"></div>
          </div>

          <h4 class="title-5">Bootstrap 4</h4>
          <div class="resume-skill-container">
            <div class="resume-skill-percentage skill-4"></div>
          </div> 
        </div>
      </div>
      <div class="col-sm-6 resume-skills resume-column">
        <h3 class="title-4">Навыки SEO</h3>
        <div class="resume-skills-info">
          <h4 class="title-5">Копирайтинг</h4>                               
          <div class="resume-skill-container">
            <div class="resume-skill-percentage skill-5"></div>
          </div>

          <h4 class="title-5">Контент-менеджмент</h4>
          <div class="resume-skill-container">
            <div class="resume-skill-percentage skill-6"></div>
          </div>

          <h4 class="title-5">Белое продвижение</h4>
          <div class="resume-skill-container">
            <div class="resume-skill-percentage skill-7"></div>
          </div>
        </div>

      </div>
        
      
    </div>
  </section>

  <!-- Портфолио -->
  <section id="sub-portfolio" class="subpage portfolio">
    <div class="subpage-heading">
      <p class="subpage-heading__title">Портфолио</p>
      <p class="subpage-heading__descr">Верстка, дизайн, тексты</p>
    </div>
  </section>
</div>

