<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

  <body>
  <div id="second-page">
    {% include header.html %}

    <section class="main-screen container-fluid">
      <div class="container ">
        <div class="row main-screen-content wow bounceInDown">
          <div class="main-screen-heading">
            <h1 class="main-screen-heading__name title-2 t-center">{{ page.title}}</h1>
          </div>
          <div class="col-sm-6 main-screen-pic">
          <img src="/assets/img/main.png" alt="">
          </div>
        </div>
      </div>
    </section>
      
    {% include mypage/{{ page.link }}.html %}

    {% include footer.html %}
  </div>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/myScripts.js"></script>
    <script src="/libs/animate/wow.min.js"></script>
      <script>
        new WOW().init();
      </script>
  </body>
</html>